@font-face {
  font-family: "Axiforma";
  src: url("./assets/Axiforma/Axiforma-Heavy.otf");
}

* {
  color: #fafafa;
  font-family: "Quicksand", sans-serif;
}

::-webkit-scrollbar {
  width: 2vw;
  height: 2vw;
}

@media (min-width: 640px) {
  ::-webkit-scrollbar {
    width: 1.3vw;
    height: 1.3vw;
  }
}

@media (min-width: 1024px) {
  ::-webkit-scrollbar {
    width: 0.6vw;
    height: 0.6vw;
  }
}

::-webkit-scrollbar-track {
  background-color: #17171b;
}

::-webkit-scrollbar-thumb {
  border-radius: 100vw;
  background-color: #404040;
}

html {
  height: -webkit-fill-available;
  font-size: 1vw;
}

body {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: -webkit-fill-available;
  background-color: #17171b;
}

.axiforma {
  font-family: "Axiforma", sans-serif;
}

input[type="range"] {
  accent-color: #fafafa;
}

.lightInput {
  -webkit-appearance: slider-vertical;
}

.movie-card {
  background-color: rgb(64 64 64 / 0.5);
  transition-property: height, background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.movie-card:hover .movie-card-info {
  height: 100%;
  background-color: rgb(23 23 23 / 0.8);
}

.movie-card:hover .movie-card-info-base {
  opacity: 0%;
}

.movie-card:hover .movie-card-info-hover {
  top: 0%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
